@model LoginViewModel

@{

}

<div class="form__section mt-lg">
    <form class="form__container" action="/login" method="post">
        <div class="form__column">
            <label class="form__label">Usuário</label>
            <input class="form__input" asp-for="UserName" placeholder="user admin">
        </div>

        <div class="form__column">
            <label class="form__label">Senha</label>  
            <input class="form__input" asp-for="Password" placeholder="***********">
        </div>
        
        <button class="form__btn">ENTRAR</button>
    </form>
</div>