@model IndexViewModel

@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "Esse blogs é apenas um rascunhos para minhas ideias";
    ViewBag.Keywords = "blog programming study tips";
    var basePath = Context.Request.PathBase;
}

<div>
    @foreach (var post in Model.Posts)
    {
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <span class="title">
                @post.Title
            </span>
        </a>
    }

    <partial name="_BlogPagination" model="Model" />
    
</div>