@model IEnumerable<Post>

@{

}
<h2>Admin principal</h2>
<img src="/content/static/2433830.jpg" alt="laptop" />
<div>
    <ul>
        @foreach (var post in Model)
        {
            <li>
                <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">@post.Title</a>              
            </li>
        }
    </ul>
</div>