*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

body {
    background-color: #f9f7f6;
    font-family: 'Nunito', sans-serif;
}

nav  {
    background-color: #142127;
    width: 20%;
    text-align: center;
}

.nav__items {
    display: flex;
    flex-direction: column;
}

nav a  {
    color: #fff;
    text-decoration: none;
}

nav a {
    display: inline-block;
    padding: 15px;
}


.container {
    display: flex;
    height: 100%;
    margin: auto;
}

.post {
    display: flex;
    flex-direction: column;
}

.nav__title {
    color: #ffffff;
    font-size: 20px;    
}

.post-body {
    margin: -5px 5px 0;
    padding: 20px 5px;
    background-color: #ffffff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pages {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.pages a {
    padding: 1rem;
    background-color: grey;
    color: #fff;
    border: 1px solid #eee;
    margin: 0 0.25rem
}

.pages a:hover {
    text-decoration: none;
    background-color: #999;
}

.pages a.active {
    background: #ccc;
}

.dots {
    color: #fff;
    font-size: 23px;
}

.search {
    color: #000;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    font-size: 18px;
}

.submit-btn {
    display: none;
}

@media screen and (max-width: 768px) 
{
    .submit-btn {
        display: inline-block;
    }
}

.search::placeholder {
    color: #fff;
}