:root {
    --color-primary: #700B97;
    --color-primary-light: #8E05C2;
    --color-primary-dark: #3E065F;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --color-dark: #0B0B0B;
    --color-action-view: #03A9F4;
    --color-action-edit: #FFC107;
    --color-action-finish: #00FF00;
    --background-content: #F6F6FA;
    --color-invalid-input: 	#FF0000;
    --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
    --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
    --line: 1px solid var(--color-grey-light-2); 
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-weight: 300;
    line-height: 1.6;
    font-family: 'Nunito', sans-serif;
}

.container {
    display: flex;
    justify-content: flex-start;
}

.content {
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #faf9f9;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown__category {
    color: #050505;
    padding: 1.2rem 1.6rem;
    text-decoration: none;
    display: block;
    transition: all .2s;
    text-transform: uppercase;
    font-weight: 300;
}

.dropdown__category:hover {
    background-color: #f1f1f1
}

.dropdown {
    position: relative;
    display: inline-block;
}

.btn-dropdown {
    text-transform: uppercase;
    background-color: #101d2c;
    color: rgb(233, 231, 231);
    padding: 1.5rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: all .2s;
}

.btn-dropdown:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-4px);
}
.btn-dropdown:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-2px);
}

.dropdown:hover .dropdown__content {
    display: block;  
}

.sidebar   {
    background-color: #101d2c;
    flex: 0 0 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar__form {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.sidebar__search {
    align-self: center;
    background-color: inherit;
    border: 1px solid #fff;
    color: #fff;
    font-family: inherit;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 60%;
    transition: all .2s;
}

.sidebar__search::placeholder {
    color: #999; 
}

.sidebar__search:focus {
    outline: none;
    width: 90%;
}

.sidebar__items {
    display: flex;
    flex-direction: column;
}



.sidebar__nav {
    list-style: none;
    align-self: center;
}

.sidebar__link  {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem;
    transition: all .2s;
    font-size: 1rem;
}

.sidebar__link:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-4px);
}
.sidebar__link:active {
    background-color: rgba(255, 255, 255, 0.05);
    transform: translateY(-2px);
}

.sidebar__icon-link {
    text-decoration: none;
    color: #fff;
}

.sidebar__icon:hover {
    transition: all .2s;
}
.sidebar__icon:hover {
    transform: translateY(-2px) scale(1.5);
}
.sidebar__icon:active {
    transform: translateY(-2px) scale(1.5);
}

.sidebar__title {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;    
    text-align: center;
    padding-top: 3rem;
}

.post {
    display: flex;
    padding: 3.5rem;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2rem 5rem rgba(0,0,0,0.1);
    word-wrap: break-word;
}

.post__category {
    text-decoration: none;
    margin-left: .5rem;
    padding: .4rem;
    border-radius: 5px;
    border: none;
    background-color: #101d2c;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .1s;
}

.post__category:hover {
    background-color: #fff;
    color: #101d2c;
    border: 2px solid #101d2c;
}

.post__content {
    margin: 2rem 0;
    max-width: 65rem;
}

.post:not(:last-child) {
    margin-bottom: 1.5rem; 
}

.post__link {
    text-decoration: none;
    color: #333;
}

.post__title {
    font-size: 1.5rem;
    transition: all .2s;
}
.post__title:hover {
    color: #24bfcf;
}

.post__date {
    margin-top: .5rem;
    font-size: 1rem;
    color: #ccc;
    font-weight: bold;
}

.post__description {
    font-size: 1.1rem;
    color: inherit;
}

.post__body {
    margin: 3rem 0;
    max-width: 60vw;
    background-color: #FFF;
    box-shadow: 0 2rem 5rem rgba(0,0,0,0.1);
    padding: 6rem;
}

.socials {
    display: flex;
    font-size: 1.5rem;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
}

.pagination {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 2rem 0;
}

.pagination__link{
    text-decoration: none;
    padding: 1rem;
    background-color: #101d2c;
    color: #fff;
    border-radius: 13px;
    font-weight: bold;
    transition: all .2s;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.pagination__link:hover {
    background-color: #1d3652;
    transform: translateY(-2px);
}

.pagination__link:active {
    background-color: #1d3652;
    transform: translateY(-2px);
}

.pagination__link:visited {
    transform: translateY(2px);
}

.pagination__text {
    font-size: 1.1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.heading__title {
    display: flex;
    justify-content: center;
    color: #333;
}

.heading__post {
    display: flex;
    justify-content: start;
    align-items: baseline;
    
}

.copyright {
    font-size: 1rem;
    color: #aaa;
    text-align: center;
    padding: 2.5rem;
}

.btn__add {
    color: #101d2c;
    outline: none;
    border: none;
    font-weight: bold;
    text-transform: lowercase;
    text-decoration: underline;
}

.form__section {
    background-color: #fff;
    margin-top: 5rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    height: 25rem;
}

.form__container {
    display: flex;
    min-width: 30rem;
    flex-direction: column;
    align-items: center;
}

.form__column {
    margin-top: 1rem;
}
.form__column:not(:last-child) {
    margin-bottom: 1.5rem; 
}

.form__input {
    font-size: 1.1rem;
    padding: 1rem 1rem;
    font-family: inherit;
    color: inherit;
    border-radius: 6px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all .2s;
}

.form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(51, 51, 51, 0.1);
    border-bottom: 3px solid #108dbe; 
}

.form__label {
    font-size: 1.2rem;
    font-weight: 700;
    display: block;
    transition: all .3s; 
}

.form__btn {
    margin-top: 2rem;
    border-radius: 8px;
    width: 50%;
    height: 2rem;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #101d2c;
    transition: all .2s;
}

.form__btn:hover {
    transform: translateY(-2px);
}

.form__btn:active {
    transform: translateY(-2px);
}

.form__btn:visited {
    transform: translateY(2px);
}

.panel__container {
    overflow: hidden;
    width: 100vw;
    background-color: #F6F6FA;
    padding: .4rem 1rem;
}

.panel__admin {
    border: 1px solid #f0eeee;
    border-radius: 7px;
    padding: 1rem 1.5rem;
    background-color: #fff;
    height: 100vh;
}

.panel__custom {
    display: flex;
    justify-content: space-between;
}

.panel__btn:visited, .panel__btn:link {
    outline: none;
    background: #6366f1;
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 11%;
    border-radius: 4px;
}


.panel__btn-action:visited, .panel__btn-action:link {
    outline: none;
    background: #faf9f9;
    text-decoration: none;
    color: #333;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center; 
    height: 1.7rem;
    border-radius: 4px;
    border: 1px solid grey;
    width: auto;
    font-family: inherit;
    margin-left: 5px;
}


.panel__action {
    width: 3vw;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.panel__heading {
    color: #333;
}

.panel__icon {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    fill: currentColor; 
}

.panel__table {
    border: 1px solid #f0eeee;
    margin: auto;
    min-width: 80vw;
}

.panel__table tbody tr:nth-of-type(odd) {
      background-color: #f1f0f0; 
}
.panel__table tbody tr:hover {
      background: #f5f5f5; 
}

table td {
    height: 2.5rem;
    font-size: 1rem;
}

.panel__thead {
    background-color: #fcfcfc;
    height: 3rem;
    text-align: left;
}

.new__article-btn {
    color: #fff;
    font-size: 1rem;
    background-color: #6366f1;
    border-radius: 7px;
    padding: 1rem 3rem;
    border: none;
    cursor: pointer;
    transition: all .2s;
}

.new__article-btn:hover {
    background-color: #3730a3;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
    height: 1px;
    color: #f0eeee; 
    background-color: #f0eeee; /* Modern Browsers */
}

.panel__input {
    font-size: 1rem;
    font-family: inherit;
    color: #333;
    padding: .3rem 1rem;
    border: 1px solid #e9e8e8;
    border-radius: 4px;
    transition: all .2s;
}

.panel__input:focus {
    outline: none;
    border: 3px solid #0fc4d1; 
}

.panel__label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    transition: all .3s; 
}

 /* The container must be positioned relative: */
 .custom-select {
    position: relative;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: DodgerBlue;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  } 

/* helpers */

.mt-lg {
    margin-top: 6rem;
}

.mt-sm {
    margin-top: 2rem;
}

.ml-sm {
    margin-left: 2rem;
}

.mb-sm {
    margin-bottom: 2rem;
}


/* icones */
.gg-math-plus,
.gg-math-plus::after {
    display: block;
    box-sizing: border-box;
    background: currentColor;
    border-radius: 10px
}
.gg-math-plus {
    margin-top: -2px;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 2px
}
.gg-math-plus::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 16px;
    top: -7px;
    left: 7px
}

.gg-pen {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(-45deg) scale(var(--ggs,1));
    width: 14px;
    height: 4px;
    border-right: 2px solid transparent;
    box-shadow:
        0 0 0 2px,
        inset -2px 0 0;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-right: -2px
}
.gg-pen::after,
.gg-pen::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-pen::before {
    background: currentColor;
    border-left: 0;
    right: -6px;
    width: 3px;
    height: 4px;
    border-radius: 1px;
    top: 0
}
.gg-pen::after {
    width: 8px;
    height: 7px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-right: 7px solid;
    left: -11px;
    top: -2px
}


.gg-trash {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 10px;
    height: 12px;
    border: 2px solid transparent;
    box-shadow:
        0 0 0 2px,
        inset -2px 0 0,
        inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: 4px
}
.gg-trash::after,
.gg-trash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-trash::after {
    background: currentColor;
    border-radius: 3px;
    width: 16px;
    height: 2px;
    top: -4px;
    left: -5px
}
.gg-trash::before {
    width: 10px;
    height: 4px;
    border: 2px solid;
    border-bottom: transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    top: -7px;
    left: -2px
}

.gg-edit-markup {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 22px;
    overflow: hidden;
    perspective: 20px
}
.gg-edit-markup::after,
.gg-edit-markup::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box
}
.gg-edit-markup::before {
    width: 0;
    height: 6px;
    border-bottom: 6px solid;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    bottom: 9px;
    left: 6px
}
.gg-edit-markup::after {
    width: 10px;
    height: 12px;
    border: 2px solid;
    border-top: 4px solid;
    border-bottom: 0;
    bottom: 0;
    left: 4px;
    transform: rotateX(60deg)
}